body {
  text-align: center;
  background-image: url("./ismi.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid black;
  height: 500px;
}

button {
  background-color: red;
  color: aquamarine;
  width: 50%;
  height: 50px;
}
.alert {
  background-color: red;
}
